<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.qiandao.shengqianyoudao.mapper.PostMapper">

    <resultMap id="postMap" type="cn.qiandao.shengqianyoudao.pojo.Post">
        <result column="pi_number" jdbcType="VARCHAR" property="number"/>
        <result column="ui_name" jdbcType="VARCHAR" property="username"/>
        <result column="pi_title" jdbcType="VARCHAR" property="title"/>
        <result column="st_content" jdbcType="VARCHAR" property="type"/>
        <result column="pi_content" jdbcType="VARCHAR" property="content"/>
        <result column="pi_img" jdbcType="VARCHAR" property="images"/>
        <result column="pi_date" jdbcType="DATE" property="date"/>
        <result column="pi_replies" jdbcType="INTEGER" property="replies"/>
    </resultMap>
    <resultMap id="replyMap" type="cn.qiandao.shengqianyoudao.pojo.reply">
        <result column="pr_number" jdbcType="VARCHAR" property="number"/>
        <result column="ui_name" jdbcType="VARCHAR" property="username"/>
        <result column="pr_aimnumber" jdbcType="VARCHAR" property="aimnumber"/>
        <result column="pr_content" jdbcType="VARCHAR" property="content"/>
        <result column="pr_img" jdbcType="VARCHAR" property="images"/>
        <result column="pr_date" jdbcType="DATE" property="date"/>
        <result column="pr_stand" jdbcType="INTEGER" property="stand"/>
    </resultMap>

    <select id="getPostAllByType" resultType="cn.qiandao.shengqianyoudao.pojo.Post" resultMap="postMap">
        select ui_name,pi_number,pi_title,st_content,pi_content,pi_date,pi_replies from postinfo,skilltype,userinfo where ui_number=pi_usernumber and st_number=pi_type and pi_type=#{typename} and pi_state=1
    </select>
    <select id="getReplyByPost" resultType="cn.qiandao.shengqianyoudao.pojo.reply" resultMap="replyMap">
         select pr_number,ui_name,pr_aimnumber,pr_content,pr_img,pr_date,pr_stand from postreply,userinfo where pr_usernumber=ui_number and pr_postnumber=#{postnumber}
    </select>
    <select id="getPostByType" resultMap="postMap">
        select ui_name,pi_number,pi_title,st_content,pi_content,pi_img,pi_date,pi_replies from postinfo,skilltype,userinfo where ui_number=pi_usernumber and st_number=pi_type and pi_number=#{typename} and pi_state=1
    </select>
    <select id="getNumber" resultType="java.lang.String">
         select pr_number from postreply order by pr_id desc limit 0,1
    </select>
    <insert id="saveReply">
        insert into postreply values (0,#{reply.number},(select ui_number from userinfo where ui_name=#{reply.username}),#{postnumber},#{reply.aimnumber},#{reply.content},#{reply.images},#{reply.date},#{reply.stand},1)
    </insert>
    <update id="updatePostReplies">
        update postinfo set pi_replies= pi_replies+1 where pi_number=#{postnumber}
    </update>
    <select id="getName" resultType="java.lang.String">
        select ui_name from userinfo where ui_number=(select pr_usernumber from postreply where pr_number=#{aimnumber})
    </select>
    <select id="gethotpost" resultMap="postMap">
        select ui_name,pi_number,pi_title,st_content,pi_content,pi_date,pi_replies from postinfo,skilltype,userinfo where ui_number=pi_usernumber and st_number=pi_type and pi_state=1 order by pi_replies desc
    </select>
</mapper>